VITE_SUPABASE_URL="https://lyriycokryccjrhuqqmj.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5cml5Y29rcnljY2pyaHVxcW1qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3MDcyNDUsImV4cCI6MjA4ODI4MzI0NX0.9F2s1RvGSuJMyQdggAWbTy4Ex2Z5yVncDXKaEhNQf8w"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_JH4r8XMAAyjDdcb_WvSG6g_eQgzYm39"
VITE_SUPABASE_PROJECT_ID="lyriycokryccjrhuqqmj"